
.produtos__conteudo {
    text-align: center;
    padding: 3rem;
}


.produtos__subtitulo{
    color: var(--subtitulo);
    font-size: 1.25rem;
}

.produtos__titulo {
    color: var(--titulo);
    font-size: 2.75rem;
    line-height: 3.25rem;
    text-transform:capitalize;
}


.produtos__texto {
    color: var(--texto);
    line-height: 1.5rem;
    padding-top: 0.625rem;
  
}

@media screen and (max-width: 768px) {
   
    .produtos__conteudo {
        padding: 1.75rem;
    }

    .produtos__titulo {
        font-size: 1.75rem;
    }

    .produtos__texto {
        padding-bottom: 1rem;
    }


    
}

