.banner__titulo {
    color: var(--titulo);
    line-height: 3.5rem;
    font-size: 2.75rem;
    text-transform: capitalize;
   
}



@media screen and (max-width: 768px) {
    
    .banner__titulo{
        text-align: center;
        font-size: 1.75rem;
        line-height: 2.5rem;
        padding-bottom: 1rem;
     
       
        
    }
 
   
 }
 