.banner .container{
    align-items: center;
    background:var(--background-secao);
    display: flex;
    justify-content: space-around;
    padding: 2.5rem;
}




@media screen and (max-width: 768px) {
    
    .banner .container {
      
       padding: 1rem;
     
        
    }
 
   
 }