
.rodape__conteudo {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rodape__titulo {
    color: var(--titulo);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.rodape__texto {
   color: var(--titulo);
    margin-bottom: 1rem;
}