
.cortes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 3rem;
}


@media screen and (max-width: 768px) {
    
    .cortes {
        padding-right: 0;
    }
}
