.logo {
    background: url(../img/bg/bg.png) no-repeat center / cover;
    display: flex;
    justify-content: center;
    padding: 2rem;

}

.logo__imagem {
    width: 18%;
   
}


@media screen and (max-width: 768px) {
    
    
    .logo {
     
        width: 100vw;
       
    }

    .logo__imagem {
        width: 50%;
    }
   
}



